@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
    bottom: 0;
    z-index: 1000;
    background-color: #fcfcfc;
    border: 0.8px solid #00000033;
  }
  .blocks {
    display: flex;
    width: 25%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .blocks span {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 0.7rem;
    line-height: 1rem;
    letter-spacing: 0%;
  }
}
