@media screen and (max-width: 768px) {
  .container {
    width: 100vw;
    height: 90vh;
    position: fixed;
    top: 0;
    background-color: white;
  }
  .header {
    display: flex;
    gap: 55vw;
    z-index: 500;
    position: fixed;
    height: max-content;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
  }
  .logo {
    width: 10rem;
    margin-left: 1rem;
  }
  .pic {
    background-color: #f3f3f1;
    border-radius: 50%;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
  }
  .logout button {
    position: fixed;
    right: 1.8rem;
    margin-top: 2rem;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    color: #000000;
    background-color: #f3f3f1;
    align-items: center;
    top: 0;
    z-index: 501;
    border: none;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
  }
  .logout button svg {
    margin-right: 0.5rem;
  }
  .range{
    width: 90%;

  }
}
