.maincontent {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #aaaaaa;
}
.deskmain {
  border: 1rem solid black;
  border-radius: 2.5rem;
  width: 22rem;
  height: 40rem;
}
.deskcontent {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.deskbanner {
  height: 12rem;
  border-radius: 1.5rem;
}
.deskbanner img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.deskusername {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 1rem;
  line-height: 3rem;
  letter-spacing: 0%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-15%, -80%);
}
.deskopenLink {
  display: none;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: 0.2px solid #b0b0b0;
  position: relative;
  bottom: 6rem;
  cursor: pointer;
  left: 1rem;
}
.desktoggleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
  height: 2.7rem;
  background-color: #c9c9c9;
  border-radius: 1.5rem;
  border: 1px solid #bfbfbf;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 0.45rem;
  margin-top: 1rem;
  user-select: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem;
  letter-spacing: 0%;
  padding: 0 3px 0 3px;
  text-align: center;
}
.desktoggleContainer span {
  width: 7.5rem;
  display: flex;
  justify-content: center;
  height: 2.325rem;
  border-radius: 6rem;
}
.active {
  align-items: center;
  color: #ffffff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  background-color: #28a263;
}
.inactive {
  display: flex;
  align-items: center;
  color: #595959;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  display: flex;
  align-items: center;
}
.deskshowLinks {
  margin-top: 1rem;
  overflow-x: hidden;
}
.deskshowLinks::-webkit-scrollbar {
  width: 0;
}
.stack {
  display: flex;
  flex-direction: column;
}
.gridlayout {
  display: grid;
  grid-template-columns: 50% 50%;
}
.shoplink{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 6rem;
  margin: 0 auto;
  cursor: pointer;
  margin-bottom: 1rem !important;
}
.gridlink {
  background-color: #c9c9c9;
  width: 90%;
  height: 6rem;
  position: relative;
  left: 50%;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  align-items: center;
  border-radius: 6.25rem;
  margin-bottom: 0.6rem;
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0%;
  color: #1e1e20;
}
.gridlink div {
  width: 80%;
  margin: 0.5rem 5px 0.5rem 0.5rem;
  height: 2rem;
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 4rem;
}
.carousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  width: 100%;
}
.carousellink {
  background-color: #c9c9c9;
  width: 40%;
  height: 11rem;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-direction: column;
  align-items: center;
  border-radius: 6.25rem;
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: left;
  color: #1e1e20;
  margin-left: 1rem;
  margin-right: 1rem;
}
.carousellink div{
  width: 4rem;
  margin: 0.5rem 5px 0.5rem 0.5rem;
  height: 4rem;
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 4rem;
}
.carousellink span{
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}
.desklink {
  background-color: #c9c9c9;
  width: 90%;
  height: 3.5rem;
  position: relative;
  left: 50%;
  display: flex;
  transform: translateX(-50%);
  align-items: center;
  border-radius: 6.25rem;
  margin-bottom: 0.6rem;
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0%;
  color: #1e1e20;
}
.shoplink{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 6rem;
  cursor: pointer;
  margin: 0 auto;
}
.desklink div {
  width: 3rem;
  margin-left: 0.5rem;
  margin-right: 5px;
  height: 3rem;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
}
.deskconnected {
  margin: 4rem auto;
  margin-bottom: 0;
  background-color: #35ca7d;
  box-shadow: 0px 4px 12.8px 0px #00000026;
  width: 9.5rem;
  border: none;
  height: 1.8rem;
  border-radius: 1.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 0.65rem;
  line-height: 1rem;
  letter-spacing: 0%;
  text-align: center;
}
.deskicon {
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4rem;
  letter-spacing: 0%;
  justify-content: center;
  color: #000000;
  margin: 1rem auto;
  margin-bottom: 0;
}
.deskicon span:nth-child(3) {
  position: relative;
  top: -10px;
  font-size: 3.36px;
  line-height: 4.24px;
  letter-spacing: 0%;
}
@media screen and (max-width: 768px) {
  .main {
    position: relative;
    left: 0;
    top: 0;
    display: flex;
    overflow-x: auto;
    flex-direction: column;
    background-color: white;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
  }
  .header {
    display: flex;
    gap: 55vw;
    z-index: 50;
    position: fixed;
    height: max-content;
    flex-direction: row;
    width: 100%;
    margin-top: 1rem;
  }
  .logo {
    width: 10rem;
    margin-left: 1rem;
  }
  .pic {
    background-color: #f3f3f1;
    border-radius: 50%;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
  }
  .logout button {
    position: fixed;
    right: 1.8rem;
    margin-top: 2rem;
    width: 8rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    color: #000000;
    background-color: #f3f3f1;
    align-items: center;
    top: 0;
    z-index: 51;
    border: none;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: row;
  }
  .logout button svg {
    margin-right: 0.5rem;
  }
  .content {
    height: 95vh;
    margin-top: 3rem;
  }
  .banner {
    width: 84%;
    height: 15rem;
    margin: 2rem;
    border-radius: 2.5rem;
  }
  .banner img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #dfdfdf;
    position: relative;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
  .username {
    width: 100%;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    line-height: 3.5rem;
    letter-spacing: 0%;
    position: relative;
    top: 20%;
    text-align: center;
  }
  .openLink {
    display: none;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    border: 0.2px solid #b0b0b0;
    position: relative;
    bottom: 8rem;
    left: 1.25rem;
  }
  /* .links {
    } */
  .toggleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15rem;
    height: 2.7rem;
    background-color: #c9c9c9;
    border-radius: 1.5rem;
    border: 1px solid #bfbfbf;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 0.45rem;
    margin-top: 1.5rem;
    user-select: none;
    font-family: "Inter";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.3rem;
    letter-spacing: 0%;
    padding: 0 3px 0 3px;
    text-align: center;
  }
  .toggleContainer span {
    width: 7.5rem;
    display: flex;
    justify-content: center;
    height: 2.325rem;
    border-radius: 6rem;
  }
  .active {
    align-items: center;
    color: #ffffff;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: #28a263;
  }
  .inactive {
    display: flex;
    align-items: center;
    color: #595959;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: flex;
    align-items: center;
  }
  .showLinks {
    margin-top: 2rem;
    overflow-x: auto;
  }
  .link {
    background-color: #c9c9c9;
    width: 18rem;
    height: 4rem;
    position: relative;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
    align-items: center;
    border-radius: 6.25rem;
    margin-bottom: 0.6rem;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0%;
    color: #1e1e20;
  }
  .link div {
    width: 3rem;
    margin-left: 0.5rem;
    margin-right: 5px;
    height: 3rem;
    border-radius: 50%;
    background-color: white;
    display: grid;
    place-items: center;
  }
  .cross {
    background-color: white;
    width: 1.5rem;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0px 4px 6.5px 0px #00000040;
    height: 1.5rem;
    position: fixed;
    left: 50%;
    top: 80vh;
    transform: translateX(-50%);
    z-index: 100;
  }
  .connected {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 4rem;
    background-color: #35ca7d;
    box-shadow: 0px 4px 12.8px 0px #00000026;
    width: 9.5rem;
    border: none;
    height: 1.8rem;
    border-radius: 1.5rem;
    display: grid;
    place-items: center;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 0.65rem;
    line-height: 1rem;
    letter-spacing: 0%;
    text-align: center;
  }
  .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.4rem;
    letter-spacing: 0%;
    color: #000000;
    position: absolute;
    bottom: calc(100vh - 42rem);
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
  }
  .icon span:nth-child(3) {
    position: relative;
    top: -10px;
    font-size: 3.36px;
    line-height: 4.24px;
    letter-spacing: 0%;
  }
}
